.color-picker {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .field-label {
    // font-weight: bold;
    color: #333;

    .required {
      color: rgb(194, 9, 9);
      margin-left: 0.25rem;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__input {
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
  }

  &__text {
    flex: 1;
  }
}